script.  
    function handleLoginClick() {
        window.location = "/"
    } 
    function handleGoogleOAuth() {
        window.location = "auth/oauth/google"
    }
    function handleGitHubOAuth() {
        window.location = "auth/oauth/github"
    }
    function handleSignUpClick() {
        window.location = "auth/register"
    }