//- W3hubs.com - Download Free Responsive Website Layout Templates designed on HTML5 CSS3,Bootstrap,Tailwind CSS which are 100% Mobile friendly. w3Hubs all Layouts are responsive cross browser supported, best quality world class designs.
doctype html
html(lang="en")
  head
    include mixins/head.pug
    +head('Auth Sandbox')
    link(rel='stylesheet', href='./style.css')
    
    include includes/script.pug
    include mixins/header.pug
    include mixins/submit-button.pug
    include mixins/have-account.pug
  body
    #main
      form(action="/auth/basic/login/passport" method="POST")
        +header('Auth Sandbox Login Form')
        include includes/flash-messages.pug
        include includes/username-password.pug
        include includes/remember-me.pug
        +submit-button('Log In')
        include includes/oauth-links.pug
        +have-account('Don\'t have an account?')
        button(type="button" onclick="handleSignUpClick()") Sign Up now