//- W3hubs.com - Download Free Responsive Website Layout Templates designed on HTML5 CSS3,Bootstrap,Tailwind CSS which are 100% Mobile friendly. w3Hubs all Layouts are responsive cross browser supported, best quality world class designs.
doctype html
html(lang="en")
  head
    title Auth Sandbox - Register
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='../../../style.css')
  body
    script.  
        function handleLoginClick() {
          window.location = "/"
        } 
    #main
     form(action="/auth/basic/register" method="POST")
        div.label Auth Sandbox Registration Form
          if error.length
            div.flash-message.error
              p= error
          if success.length   
            div.flash-message.success 
              p= success 
        div.username
          input(type="text" name="username" placeholder="username")
        div.password
          input(type="new-password" name="password" placeholder="password")
        div.password
          input(type="new-password" name="password-confirm" placeholder="password confirmation")
        div.checkbox
          input(type='checkbox' name='agreement' checked)
          |Remember me
        button(type="submit") Sign Up
        h3 Already have an account?
          button(type="button" onclick="handleLoginClick()") Log In now
